@import "bourbon/app/assets/stylesheets/bourbon";

@import "styles/variables";

@import "general/fonts";

@import "../../../jspm_packages/github/driftyco/ionicons@2.0.1/scss/ionicons";

@import "general/normalize"; // reset

@import "general/buttons";
@import "general/forms";
@import "general/lists";
@import "general/tables";
@import "general/typography";

html,body {
  	position: relative;
    min-height: 100%;
    // overflow-x: hidden;  // make sure that menu shown doesn't add horz scroll bars
}
body {
    // overflow-y: visible;
    width: 100%; // make sure that menu shown doesn't add horz scroll bars
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: rgba(255,0,70,0.8);
    color: white;
}

@import "addons/tabs";

// @import "presentation/swiper";
// @import "presentation/index";
// @import "presentation/frontpage";
// @import "presentation/about";
// @import "presentation/course";
// @import "presentation/subscribe";
// @import "presentation/other";
// @import "presentation/press";
