doctype html
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
html.no-js(lang="en")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="width=800,user-scalable=no")
    title
      block title
    block head
  body
    main
      block main
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    //- script System.import('lib/main');
    //- script(src="/assets/browser.js")
    //- script(src="/assets/es6-module-loader-dev.js")
    //- script System.transpiler = 'babel';
    //- script(src="/assets/system.js")
    script(src="/assets/page.js")
    script(src="/assets/phaser.js")
    != SocketStream
    block body-tail
