a {
    color: orangered;
    &:active,&:hover {
        color: red;
        border-color: red;
    }
}

/* entry */
body {
    background-color: black;
}
main {
  min-height: 800px;
  overflow: hidden; // something was sticking above 20px
}

.splash-block {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    padding: 4em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.on-black {
    color: #bbb;
}

.central-progress {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin: -4em;
}
.game-controls {
    display: none;
    .with-game-controls &.framed-sidebar {
        display: block;
    }
    .game-ready &.splash-block {
        display: block;
    }

    a.btn {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid orangered;
        border-radius: 4px;
        margin: 1em 0;
        max-width: 15em;
    }
}
.overview-only {
    display: none;
    .with-overview & {
        display: block;
    }
}

$game-tabs-width: 50px;
$game-tabs-height: 130px;

.framed-sidebar {
    position: relative;
    top: 2px;
    min-height: 700px;
    background-color: white;
    padding: 0 .5em;

  .plan-tabs {
      display: block;
      position: absolute;
      font-size: 13px;
      left: 10px - $game-tabs-width; top: 0; bottom: 0;
      width: 32px;

      .tab {
          width: $game-tabs-width - 10px;
          height: $game-tabs-height;
          margin-bottom: 5px;
          border-color: #aaa;
          border-width: 1px 0 1px 1px;
      }
      .tab a {
          display: block;
          width: $game-tabs-height;
          height: $game-tabs-width - 10px;
          transform: rotate(-90deg) translateX(-($game-tabs-height));
          transform-origin: top left;
      }
  }

  .game-controls {
      background-color: white;
      a.btn {
          display: block;
      }
  }
}

.game-area {

    @media(min-width: 801px) {
      max-width: 401px;
    }
    @media(min-width: 901px) {
      max-width: 501px;
    }
    @media(min-width: 1001px) {
      max-width: 601px;
    }
    @media(min-width: 1101px) {
      max-width: 701px;
    }
    @media(min-width: 1201px) {
      max-width: 801px;
    }
}

.game-size {
    width: 320px;
    height: 560px;
    @media (min-width: 360px) {
      width: 360px;
      height: 640px;
    }

    @media (min-width: 400px) {
      width: 400px;
      height: 720px;
    }

    @media (min-width: 769px) {
        width: 400px;
        height: 768px;
    }
}

.game-windows {
  position: relative;

  @media (min-width: 401px) {
    margin-left: .5em;
    margin-top: 1em;
  }

}
.game-window {
    position: relative;
    float: left;
    overflow: hidden;
    max-height: 768px;

    .btn-pause {
        font-size: 2em;
        padding: 8px 16px;
        background-color: transparent;
        color: orangered;
    }

    .btn-pause {
        position: absolute;
        right: 0;
        top: 0;
        border: 0 none;
    }

    @media (min-width: 769px) {
        border: 1px solid #eee;
        box-shadow: 2px 2px 10px #ccc;
    }
}

@media (min-width: 501px) and (max-width: 600px) {

  .game-windows {
    width: 320px;
  }
  .framed-sidebar {
    position: absolute;
    right: 0; left: 330px + $game-tabs-width;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .game-windows {
    max-width: 400px;
  }
  main {
    padding-right: 200px;
  }
  .framed-sidebar {
    position: absolute;
    right: 0; left: 410px + $game-tabs-width;
  }
}

@media (min-width: 801px) {
  main {
    padding-right: 400px;
  }
  .framed-sidebar {
    position: absolute;
    right: 0; width: 400px + $game-tabs-width;
  }
}

// temporary tabs etc.

$link-color: #B4EAE6;

// a {
//   color: $link-color;
//   cursor: pointer;
//   text-decoration: none;
//   border-bottom: 1px dotted;
// }

iframe {
  border: none;
  width: 100%;
  &.iframe--posts {
    height: 400px;
  }
  &.iframe--tabs {
    height: 550px;
  }
  &.iframe--typeahead {
    height: 300px;
  }
}

.list--bare {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 75px 0;
  background-color: #FFF;
  border-bottom: 10px solid $link-color;
}

.section--main {
  @extend .section;
  background-color: white; //$body-color;
  color: #FFF;
  border-bottom: none;
  h1 {
    font-size: 3em;
  }
}

.layout--constrained {
  width: 400px;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

// @import "posts";
// @import "tabs";
// @import "typeahead";
